{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Panier{% endblock %}

{% block body %}

    <h1 class="text-center text-primary mt-4 pt-4 display-1 fw-bold">Vos Commande</h1>
  
 


    <table>
      <thead>
        <tr>
          <th>Produit</th>
          <th>Prix</th>
          <th>Quantité</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for item in app.user.panier.ajouts %}
          <tr>
            <td>{{ item.webheberge.name }}</td>
            <td>{{ item.webheberge.price }} €</td>
            <td>
            {#   <a href="{{ path('cart_remove', {id: item.id}) }}">Supprimer</a> #}
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3">Total :</td>
   
          <td></td>
        </tr>
      </tbody>
    </table>

  
 




   
{% endblock %}