{% extends 'base.html.twig' %}


{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
{{parent()}}

{% endblock %}

{% block body %}

<h1 class="text-center">Admin Hebergement Web </h1>

<div class="d-flex justify-content-around" >

<a style="text-decoration:none;" href="{{path('gestion-web-hebergement')}}"><div class="card" style="width: 25rem;height: 300px; margin-top: 100px" id="card-admin">
   <h3 class="text-center mt-5">gestion web hebergement</h1>
  </div>
</a>
  <div  class="card" style="width: 25rem;height: 300px; margin-top: 100px" id="card-admin">
    <h3 class="text-center mt-5">gestion Cloud hebergement</h1>
   </div>
   <div  class="card" style="width: 25rem;height: 300px; margin-top: 100px" id="card-admin">
    <h3 class="text-center mt-5">gestion WordPress hebergement</h1>
   </div>

  </div>
{% endblock %}

